.proj-links {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}

.proj-link-item {
  color: #ccc5b9;
  font-size: 5vw;
  margin-right: 1rem;
  text-decoration: none;
  &:hover {
    text-decoration: line-through;
    color: #eb5e28;
    text-decoration-color: #403d39;
  }
}

hr {
  height: 2px;
  background-color: #ccc5b9;
  border: none;
}

.proj-image {
  border-radius: 10px;
}
