html {
  box-sizing: border-box;
  margin: 3rem auto;
  max-width: 800px;
  min-width: 50px;
  background-color: #131514;
}

ul { 
  text-decoration: none;
}

a {
  text-shadow: none;
  background-image: none;
}

a:hover { 
  text-decoration: underline;
}

body {
  --bg: #DFE2E2;
  --textNormal: #282C35;
  --textTitle: #282C35;
  --textLink: #282C35;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282C35;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: whitesmoke;
  --textLink: #FFFFB3;
  --hr: hsla(0, 0%, 100%, 0.2);
}

