form {
  margin: 1rem 0 0 0;
}

label {
  color: #42413D;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 0.15rem solid #eb5e28;
  border-radius: 10px;
  background: #ccc5b9;
  &::placeholder {
    color: #42413D;
    opacity: 1; 
  }
}

textarea {
  padding: 0.5rem;
  height: 8rem;
}


button {
  background: #42413D;
  border: none;
  border-radius: 10px;
  padding: .6rem 1rem;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  align-self: center;
  color: #ccc5b9;
  transition: all .3s;

  &:hover {
    background: #eb5e28;
    color: #fffcf2;
    cursor: pointer;
    transition: all .3s;
  }
}


