header {
  margin: 0 auto .5rem;
  width: 80%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  background-color: #42413D;
  border-radius: 10px;
}

h1 {
  font-size: min(7vw, 48px);
  margin: 0;
}

.title {
  margin: 0;
  color: #eb5e28;
  text-decoration: none;
  &:hover {
    text-decoration: line-through;
    text-decoration-color: #42413D;
  }
}

.nav-links {
  display: flex;
  min-width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link-item {
  color: #ccc5b9;
  font-size: min(4vw, 36px);
  margin-right: 1rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #fffcf2;
    text-decoration-color: #eb5e28;
  }
}
