.container {
  margin: 0 auto 1rem;
  max-width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #403d39;
  border-radius: 10px;
}

.title {
  margin: 0;
  color: #eb5e28;
  text-decoration: none;
  font-size: 3rem;
  &:hover {
    text-decoration: line-through;
    text-decoration-color: #403d39;
  }
}

.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link-item {
  color: #ccc5b9;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
  &:hover {
    text-decoration: line-through;
    color: #fffcf2;
    text-decoration-color: #403d39;
  }
}
